{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/logo-298-agni.png">
    </a>
    <h1>Phyrus Apps</h1>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
Información general de nuestras aplicaciones.
  </div>
  <hr>
    <div class="alert alert-info text-center" role="alert">
   Juegos On line--->> <a href="https://play.google.com/store/apps/details?id=agnigames.com.compatibilidad"> Amor tu nombre </a>
  </div>
</div>

{% endblock %}
