{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Phyrus Apps</h1>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
 Esta es una págian sólo para infrmación general de nuestras aplicaciones.
  </div>
  <hr>
    <div class="alert alert-info text-center" role="alert">
   Juegos On line
  </div>
</div>

{% endblock %}
